.navBar{
    background-color: var(--backgroundColor);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2rem;
    font-size: 1.5rem;
    flex-wrap: nowrap;
}

@media (max-width: 768px) {
    .navBar{
        height: 25rem;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}

