.brand{
    position: absolute;
    left: 4rem;
    color: var(--gray);
    letter-spacing: .3rem;
}

.brand::before{
    content: '';
    display: inline-block;
    position: absolute;
    height: .2rem;
    width: 11.5rem;
    top: 2rem;
    border-radius: 100rem;
    background-color: var(--blueLight);
}

.brand::after{
    content: '';
    display: inline-block;
    height: .8rem;
    width: .8rem;
    margin-left: .5rem;
    border-radius: 100rem;
    background-color: var(--white);
}

@media (max-width: 768px) {
    .brand{
        position: relative;
        left: 0;
    }
}